$color-scheme: dark;
$body-background-color: $grey-dk-300;
$body-heading-color: #9d62f0;
$body-text-color: $grey-lt-300;
$link-color: #7e38e0;
$nav-child-link-color: $grey-dk-000;
$sidebar-color: $grey-dk-300;
$base-button-color: #512391;
$btn-primary-color: #7e38e0;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$search-result-preview-color: $grey-dk-000;
$border-color: #4f1c80;
